version: 2
updates:
  # Python dependencies
  - package-ecosystem: pip
    directory: /apps/backend
    schedule:
      interval: weekly
    labels:
      - dependencies
      - python
    commit-message:
      prefix: "chore(deps)"

  # npm dependencies
  - package-ecosystem: npm
    directory: /apps/frontend
    schedule:
      interval: weekly
    labels:
      - dependencies
      - javascript
    commit-message:
      prefix: "chore(deps)"

  # GitHub Actions
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    labels:
      - dependencies
      - ci
    commit-message:
      prefix: "ci(deps)"
